<div id="current-user"></div>
<div id="title-page">
    <div class="flex-header">
        <h1>Nom du projet</h1>
        <div class="user-list">
            <div class="avatar">ND</div>
            <div class="avatar">DB</div>
        </div>
        <a class="button" href="projet-edit.html">Modifier</a>
    </div>
</div>
