<div id="current-user"></div>
<div id="title-page">
    <div class="flex-header">
        <h1>{{ title }}</h1>
        {% if projectTeam is defined %}
        <div class="user-list">
            <div class="avatar">ND</div>
            <div class="avatar">DB</div>
        </div>
        {% endif %}
        {% if project is defined %}
            <a class="button" href="projet-edit.html">Modifier</a>
        {% endif %}
    </div>
</div>
