<a href="index.html" id="logo">
    <img src="{{ asset('/img/logo.png') }}" alt="Logo TaskLinker">
</a>
<ul id="main-menu">
    <li class="active">
        <a href="{{ path('project_index') }}">
            <i class="fa-solid fa-list-check"></i> Projets
        </a>
    </li>
    <li>
        <a href="{{ path('team_index') }}">
            <i class="fa-regular fa-user"></i> Équipe
        </a>
    </li>
</ul>
