{%  extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.teamList) }}
    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}
{% endblock %}