{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <div id="projects-container">
        <article class="card-project">
            <a href="projet.html">
                <h2>TaskLinker</h2>
            </a>
            <div class="card-project-icons">
                <a href="projet-edit.html"><i class="fa-solid fa-pen"></i></a>
                <a href="#"><i class="fa-solid fa-trash"></i></a>
            </div>
        </article>
    </div>
{% endblock %}
